.way-layout {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.we-do {
  padding: 1.7% 0;

  & h2 {
    text-transform: uppercase;
    word-spacing: -25%;
    margin-bottom: 0;
    letter-spacing: -1px;

    &::after {
      content: ".";
      color: red;
    }
  }

  & ul li {
    width: calc(33% - 10px);
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 3%;

    &:nth-child(2) > .icon-wrapper > div {
      background-position: 50% -25%;
    }
    &:nth-child(3) > .icon-wrapper > div {
      background-position: 97% -25%;
    }
    &:nth-child(4) > .icon-wrapper > div {
      background-position: 5% 130%;
    }
    &:nth-child(5) > .icon-wrapper > div {
      background-position: 50% 130%;
    }
    &:nth-child(6) > .icon-wrapper > div {
      background-position: 97% 130%;
    }
  }

  & p {
    margin-top: 0;/* em/rem*/
    font-size: 0.8125rem;
  }
}

.icon-wrapper {
  display: inline-block;
  width: 28%;
  background: #ff2d00;
  margin-right: 7px;
  min-width: 40px;

  & > div {
    background-image: url("../../images/css_sprites.png");
    background-position: 5% -25%;
    padding-bottom: 160%;
    background-size: 350%;
    height: 0;
  }
}

.normal-weight {
  font-weight: normal;
}

.description {
  width: 68%;
  display: inline-block;
  position: relative;
  /*top: 30px;*/

  & p {
    font-weight: bold;
  }

  & span {
    font-size: 0.8125rem;
  }
}

@media only screen and (max-width: 1000px) {
  .we-do {
    text-align: center;
  }
}
